/*
Author: Cassie Lewis
https://clewisdev.com
Date: 
*/

/*
COOLORS color palette link
https://coolors.co/a04c24-ce2d25-1c9edf-79ad50-ffdf01
*/

/****** VARIABLES ******/

:root {
    
    /*COLORS*/
    --rust: #31180C;
    --maximum-red: #9D211B;
    --carolina-blue: #1c9edfff;
    --bud-green: #79ad50ff;
    --golden-yellow: #ffdf01ff;

    
    /*BORDER RADIUS*/
    --br-button: .5rem;
    --br-soft: 1rem;
    --br-round: 50%;
    
    /*FONT SIZES*/
    --fs-xs: 1rem;
    --fs-s: 1.25rem;
    --fs-m: 1.5rem;
    --fs-l: 2rem;
    --fs-title: 3rem;
}

/****** MARGIN AND PADDING RESET ******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* GLOBAL STYLES *******/

body {
    font-family: 'Aboreto', cursive;
    color: var(--golden-yellow);
    font-weight: 900;
    letter-spacing: .1rem;
    text-align: left;
}

h1 {
    font-size: var(--fs-title);
    margin-bottom: 2rem;
    text-shadow: 1px 1px var(--rust);

    /* grid-column: 1; */

}

h2 {
    font-size: var(--fs-l);
    margin-bottom: 1rem;
    /* grid-column: 1; */
}

h3 {
    font-size: var(--fs-m);
    margin-bottom: 1rem;
}

p {
    font-size: var(--fs-title);
    color: white;
    background-color: var(--rust);
    padding: 2rem 3rem;
    margin-bottom: 1rem;
    border-radius: var(--br-soft);
    /* border: 5px solid var(--rust); */
    /* box-shadow: 5px 5px var(--rust); */
}

ul {
    width: 50%;
    background-color: var(--carolina-blue);
    font-size: var(--fs-xs);
    text-align: left;
    list-style-type: none;
    padding: 2rem;
    border-radius: var(--br-soft);
}

li {
    margin-bottom: 1rem;
}

/****** MAIN STYLING ******/

main {
   background-color: var(--rust); 
   max-width: 1200px;
   padding: 1rem;
   margin: 1rem; 
   border-radius: var(--br-soft);
   border: 5px solid var(--rust);
   /* box-shadow: 5px 5px var(--rust); */
    /* display: flex; */
  
   /* display: grid;
   grid-template-columns: .5fr 2fr; */

   /* border: 7px solid hotpink; */
}

/****** CONTAINER STYLING ******/

.info-container {
    padding: 2rem;
    /* margin: 2rem; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 40rem) {
    .info-container {
        flex-direction: column;
        text-align: center;
    }
}  

.container-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 7px solid limegreen; */
}

.container-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 7px solid limegreen; */
}

.player-container {
    background-color: var(--maximum-red);
    /* width: 75%; */
    padding: 2rem;
    margin: 2rem 1rem;
    border-radius: var(--br-soft);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 5px 5px var(--golden-yellow); */

    /* border: 7px solid yellow; */
}

@media (max-width: 40rem) {
    .container-one, .container-two{
        flex-direction: column;
    }
}

/****** BUTTON STYLING ******/

button {
    font-family: 'Aboreto', cursive;
    font-size: var(--fs-s);
    /* text-align: center; */
    letter-spacing: .25rem;
    color: var(--golden-yellow);
    background-color: var(--maximum-red);
    width: 3rem;
    padding: .5rem;
    margin: .25rem;
    border-radius: var(--br-button);
    border: 3px solid var(--golden-yellow);
    box-shadow: 3px 3px var(--rust);
}


/*

.panel {
    display: none; /*! FOR JAVASCRIPT 
}

ACCORDIAN INFO

.accordion:after {
    content: '\2038'; /*? Unicode character for "caret" sign (^) 
    font-size: 2.5rem;
    font-weight: bold;
   color: var(--text-soft-red);
 }
    
.active:after { /*! FOR JAVASCRIPT 
    transform: rotate(0.5turn);
}*/