/*
Author: Cassie Lewis
https://clewisdev.com
Date: Jan - Feb 2023 
*/

/*
COOLORS color palette link
https://coolors.co/a04c24-ce2d25-1c9edf-79ad50-ffdf01
*/

/****** VARIABLES ******/

:root {
    
    /*COLORS*/
    --smokey-black: #100804;
    --rust: #31180C;
    --maximum-red: #9D211B;
    --carolina-blue: #1c9edfff;
    --bud-green: #79ad50ff;
    --golden-yellow: #ffdf01ff;

    
    /*BORDER RADIUS*/
    --br-button: .5rem;
    --br-soft: 1rem;
    --br-round: 50%;
    
    /*FONT SIZES*/
    --fs-xs: 1rem;
    --fs-s: 1.25rem;
    --fs-m: 1.5rem;
    --fs-l: 2rem;
    --fs-title: 3rem;
}

/****** MARGIN AND PADDING RESET ******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* GLOBAL STYLES *******/


body {
    min-height: 100vh;
    font-family: 'Aboreto', cursive;
    background: linear-gradient(#1c9edfff, rgb(1, 66, 99));
    color: var(--golden-yellow);
    font-weight: 900;
    letter-spacing: .1rem;
    display: flex;
    justify-content: center;
}


/******* HEADER STYLING ******/

.accordion {
    font-family: 'Aboreto', cursive;
    font-size: var(--fs-m);
    font-weight: 900;
    background-color: var(--smokey-black);
    color: var(--golden-yellow);
    text-align: center;
    margin-bottom: .5rem;
    border: none;
    /****** Is this the best practice for placing the plus/minus? ******/
    display: flex;
    gap: 7rem;
}

ul {
    font-size: var(--fs-xs);
    color: var(--carolina-blue);
    text-align: center;
    list-style-type: none;
    border-radius: var(--br-soft);
}

li {
    margin-bottom: 1rem;
}

.info-container {
    max-width: 600px;
    background-color: var(--smokey-black);
    text-align: left;
    padding: 1rem;
    margin: .5rem auto;
    border-radius: var(--br-soft);
}

@media (max-width: 400px) {
    .accordion {
        gap: 2rem;
    }
    
    .info-container {
        width: 250px;
    }
}


/****** ACCORDIAN STYLING ******/

.panel {
    display: none; /*! FOR JAVASCRIPT */ 
}


/****** ACCORDIAN PLUS/MINUS ******/

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */    
/****** plus/minus signs, why won't they change color? ******/
    color: var(--golden-yellow);
    font-size: var(--fs-s);
}

.active:after { /*! FOR JAVASCRIPT */ 
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}



/****** MAIN CONTAINER STYLING ******/

main {
   background-color: var(--rust); 
   padding: 1rem;
   margin: 1rem; 
   border-radius: var(--br-soft);
   border: 5px solid var(--smokey-black);
}

/****** PLAYER CARD STYLING ******/

h3 {
    font-size: var(--fs-m);
    margin-bottom: .5rem;
}

.score {
    width: 150px;
    font-size: var(--fs-title);
    color: white;
    background-color: var(--smokey-black);
    text-align: center;
    padding: 2rem 3rem;
    margin-bottom: .5rem;
    border-radius: var(--br-soft);
    border: 5px solid var(--smokey-black);
}

.container-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 7px solid limegreen; */
}

.container-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 7px solid limegreen; */
}

.player-container {
    background-color: var(--maximum-red);
    max-width: 300px;
    padding: 1.5rem 1rem;
    margin: .75rem;
    border-radius: var(--br-soft);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px var(--smokey-black);
    /* border: 7px solid yellow; */
}

@media (max-width: 50rem) {
    .container-one, .container-two{
        flex-direction: column;
        align-items: center;
    }
}

/****** BUTTON STYLING ******/

.plus-one, .plus-two, .minus-two {
    font-family: 'Aboreto', cursive;
    font-size: var(--fs-s);
    letter-spacing: .25rem;
    color: var(--golden-yellow);
    background-color: var(--maximum-red);
    width: 3rem;
    padding: .5rem;
    margin: .25rem;
    border-radius: var(--br-button);
    border: 3px solid var(--golden-yellow);
    box-shadow: 3px 3px var(--rust);
}

.plus-one:hover, .plus-two:hover, .minus-two:hover {
    background-color: var(--carolina-blue);
    transform: translateY(-5px);
}

.reset {
    width: 150px;
    display: block;
    font-family: 'Aboreto', cursive;
    font-size: var(--fs-m);
    color: var(--golden-yellow);
    background-color: var(--maximum-red);
    text-align: center;
    letter-spacing: .25rem;
    padding: 1rem 2rem;
    margin: 2rem auto;
    border-radius: var(--br-button);
    border: none;
    box-shadow: 5px 5px var(--smokey-black);

}

.reset:hover {
    background-color: var(--carolina-blue);
    transform: translateY(-5px);
}


/****** TOGGLE CLASS FOR WINNING SCORE ******/
.winner {
    border: 5px solid var(--carolina-blue);
}

